.18db*.bun-build
.DS_Store
.freebuff
.zcode
.zcodeignore
.env
node_modules/
.svelte-kit/
app/build/
data/
tauri/target/
tauri/server
tauri/server.exe
tauri/server-*.exe
tauri/gen/schemas
*.data.zip
data/**/*.zip
